.crate-wrapper {
  .crate-swich {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    color: #9FA3A7;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include s768 {
      text-align: center;
    }
    span {
      cursor: pointer;
      padding-bottom: 2px;
      -webkit-transition: color 0.1s ease-in;
      transition: color 0.1s ease-in;
      &:not(:first-child){
        margin-left: 25px;
      }
      &:hover {
        color: #3F4750;
      }
    }
  }
  .active {
    color: #3F4750;
    border-bottom: 4px solid #F05638;
  }
  .crate {
    width: 264px;
    height: 318px;
    margin-top: 36px;
    padding: 8px;
    background-image: url('./assets/crate.png');
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .bottle {
      width: 48px;
      height: 48px;
      padding: 5px 7px;
    }
  }
}