.footer {
  position: relative;
  padding-top: 90px;
  .cap {
    position: absolute;
    width: 100%;
    top: -10px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
    img {
      display: block;
      margin: 0 auto;
    }
  }
  background-color: #000;
  background-image: url('./assets/pattern.png');
  font-family: 'Montserrat';
  .footer-content {
    padding-bottom: 50px;
    border-bottom: 2px solid rgba(255,200,10,0.32);
    position: relative;
    @include s980 {
      padding-bottom: 0;
    }
      .logo {
        // margin-right: auto;
        align-self: center;
        position: absolute;
        left: 0;
        @include s980 {
          top: -50px;
        }
        img {
          width: 100%;
          height: auto;
        }
        @include s768 {
          width: 100%;
          img {
            max-width: 118px;
            margin: auto;
            display: block;
          }
        }
      }
      .footer-navigation {
        align-self: center;
        margin: auto;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        font-weight: 700;
        @include s980 {
          margin-left: 0;
        }
        ul {
          display: flex;
          li {
            margin: 0 25px;
            text-transform: uppercase;
            a {
              color: #fff;
              text-decoration: none;
              -webkit-transition: color 0.1s ease-in;
              transition: color 0.1s ease-in;
              &:hover {
                color: #FFC80A;
              }
            }
          }
          @include s980 {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100px;
            li {
              margin: 0;
              padding-bottom: 25px;
            }
          }
        }
        @include s768 {
          margin: auto;
          margin-top: 10px;
          margin-bottom: 50px;
          ul {
            justify-content: center;
            li {
              padding-bottom: 40px;
            }
          }
        }
      }
      .social-nav {
        position: absolute;
        right: 0;
        align-self: center;
        @include s980 {
          top: -50px;
        }
        @include s768 {
          top: initial;
          bottom: 25px;
          width: 100%;
          ul {
            margin: auto;
            li {
              a {
                font-size: 18px;
              }
            }
          }
        }
        ul {
          display: flex;
          justify-content: space-between;
          width: 250px;
          @include s1280 {
            width: 200px;
          }
          li {
            a {
              font-size: 20px;
              text-decoration: none;
              color: #fff;
              -webkit-transition: color 0.1s ease-in;
              transition: color 0.1s ease-in;
              &:hover {
                color: #FFC80A;
              }
            }
          }
        }
      }
  }
  .footer-copy {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 38px;
    p {
      font-family: 'Open Sans';
      color: #9FA3A7;
    }
  }
}