// home and favorites styles
.home-wrap {
    background-color: #F7F7F7;
    position: relative;
    padding-bottom: 80px;
    .no-favorites {
      font-family: 'Montserrat';
      font-size: 36px;
      text-align: center;
      margin: 160px 0;
    }
    .mobile-pagination {
      display: none;
      @include s768 {
        display: block;
      }
    }
    @include s768 {
      .desktop-pagination {
        display: none;
      }
    }
  .home-container {
    margin-top: -100px;
    position: relative;
    display: flex;
    @include s768 {
      flex-wrap: wrap;
    }
    h2 {
      display: inline-block;
      margin-bottom: 30px;
      font-family: 'Montserrat';
      font-size: 36px;
      font-weight: 600;
      color: #212121;
      @include s1280 {
        margin-bottom: 15px;
      }
    }
    section {
      max-width: 744px;
      width: 100%;
      margin-left: auto;
      padding-top: 85px;
      // overflow-x: scroll;
      @include s1280 {
        max-width: 565px;
      }
      @include s980 {
        max-width: 360px;
      }
      @include s768 {
        max-width: 90%;
        margin: auto;
      }
      .items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include s768 {
          overflow-y: scroll;
          flex-wrap: nowrap;
        }
      }
    }
    aside {
      max-width: 264px;
      width: 100%;
      margin-left: 120px;
      margin-right: auto;
      padding-top: 85px;
      @include s768 {
        margin: auto;
      }
    }
  }
  .favorites-margin {
    margin-top: -343px;
  }
}