.join-container {
	background-color: #F7F7F7;
	margin-top: -343px;
	padding-top: 30px;
	padding-bottom: 100px;
  position: relative;
	.join-wrap {
		max-width: 552px;
		width: 100%;
    margin: 0 auto;
    @include s768 {
      width: 95%;
    }
	}
	h3 {
			font-family: 'Montserrat';
			font-size: 30px;
			font-weight: 500;
			line-height: 48px;
			color: #212121;
			text-align: center;
	}
	.join-card {
		position: relative;
		margin-top: 30px;
		padding: 5px 10px;
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    @include s768 {
      width: 95%;
      box-sizing: border-box;
    }
		// ****** input group styles *****
		.input-group {
			padding: 0 30px;
			padding-bottom: 16px;
      border-bottom: 1px solid #D8D8D8;
      @include s768 {
        padding: 0 20px;
      }
			.label {
				display: block;
				padding-top: 40px;
				padding-bottom: 24px;
				font-size: 14px;
				line-height: 17px;
				font-family: 'Montserrat';
				font-weight: 700;
				color: #292929;
				text-transform: uppercase;
			}
			.control {
				margin-bottom: 24px;
			}
			.input-style {
				padding: 18px;
				width: 280px;
				// height: 52px;
				border: none;
				border-radius: 4px;
				background-color: #FCFCFC;
				box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.32);
				outline: none;
				border: 1px solid transparent;
				&:focus {
					border: 1px solid #F05638;
        }
        @include s768 {
          width: 100%;
          box-sizing: border-box;
        }
			}
			p {
				margin-top: 10px;
				font-family: 'Open Sans';
				font-size: 14px;
				color: #F05638;
			}
			// radio styles
			.pretty {
				display: block;
				margin-bottom: 16px;
				font-family: "Open Sans";
        font-size: 14px;
				.radio-label {
					span {
						margin-left: 12px;
					}
				}
			}
			textarea {
				width: 100%;
				margin: 8px 0;
				padding: 18px;
				font-family: "Open Sans";
				font-size: 14px;
				line-height: 19px;
				resize: none;
				border-radius: 4px;
				background-color: #FCFCFC;
				box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.32);
				border: 1px solid transparent;
				outline: none;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				&:focus {
					border: 1px solid #F05638;
				}
			}
		}
		.checkboxes-group {
			padding: 30px;
      padding-bottom: 40px;
      @include s768 {
        padding-left: 20px;
        padding-right: 20px;
      }
			.pretty {
				margin-bottom: 24px;
				font-family: "Open Sans";
				font-size: 14px;
				.check-lable {
					margin-left: 12px;
        }
        @include s768 {
          font-size: 12px;
          margin-bottom: 15px;
          .check-lable {
            margin-left: 2px;
          }
        }
			}
		}
		// button fix
		.joinup-fix {
			padding: 20px 85px;
			display: block;
			margin: 0 auto;
			margin-bottom: -33.5px;
		}
		// ##### end of input group styles #####
	}
}