.sort-by {
    float: right;
    font-family: 'Montserrat';
    line-height: 36px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include s1280 {
      float: none;
      width: 100%;
      text-align: right;
      margin-bottom: 15px;
    }
    .sort-by-title {
      font-weight: 700;
      color: #212121;
      padding-right: 20px;
    }
    .sort-by-ibu, .sort-by-abv, .sort-by-name {
      font-size: 14px;
      color: #9FA3A7;
      cursor: pointer;
      -webkit-transition: color 0.1s ease-in;
      transition: color 0.1s ease-in;
      &:hover {
        color: #212121;
      }
    }
    .sort-by-ibu {
      padding-left: 10px;
    }
    .sort-by-abv {
      padding: 0 10px;
    }
    .sort-by-name {
      padding-right: 10px;
    }
    .active {
      color: #212121;
    }
  }